.verify {

.main {
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins" sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
    height: 100vh;
  }
  
  .modal {
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 424px;
    border-radius: 10px;
    // box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 10px 4px 5px rgba(209, 209, 209, 0.1);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 3em;
  }
  
  .text {
    max-width: 299px;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1.5em;
  }
  
  .text p {
    color: #000;
    font-size: 24px;
    margin-bottom: 0.5em;
  }
  
  .text small {
    font-size: 16px;
    color: #282f85;
  }
  
  .input-boxes {
    width: 280px;
    display: flex;
    justify-content: space-evenly;
  }
  
  button {
    max-width: 254px;
  }
  
  input {
    width: 56.08px;
    height: 56.08px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #dbe5ff;
    color: #282f85;
    font-size: 24px;
    text-align: center;
  }
  
  input:focus {
    border: none;
    border: solid 3px #282f85;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .disabled {
    margin-top: 2em;
    width: 254px;
    height: 55px;
    padding: 14px 49px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border-radius: 26px;
    border: none;
    background: #252b42;
    color: #252baa;
    font-weight: bold;
    font-size: 16px;
    cursor: not-allowed;
  }
  
  .enabled {
    margin-top: 2em;
    width: 254px;
    height: 55px;
    padding: 14px 49px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    border-radius: 26px;
    border: none;
    background-color: #282f85;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  
  
  @media screen and (min-width: 600px) {
    .modal {
      height: 424px;
      width: 465px;
    }
  
    .text {
      width: 299px;
    }
  
    .input-boxes {
      width: 280px;
    }
  }
}
