// variables 
$color-white :#fff;
$color-yellow :#ffa800;
$deep-black :#000;
$font :'Poppins';
$light-black :rgba(0, 0, 0, 0.6);
$light-blue :#dbe5ff;
$light-bg :#3e4491;
$main-color :#282f85;
$global-padding :0 5%;
$text-color :#969696;

html, body {
    font-family: 'Poppins';
    position: relative;
    background-color: #fefefe;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $main-color;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 5%;
    width: 100vw;
    background: $main-color;
    position: absolute;
}

.form-modal {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    box-shadow: 0px 10px 4px 5px rgba(209, 209, 209, 0.1);
    border-radius: 20px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 2em;

    h2 {
        color: $main-color;
        text-align: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        padding: .7em;

        input {
            margin-top: 1em;
            height: 50px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            padding: 1em;
            border-radius: 4px;
            outline: none;
        }

        small {
            padding: .5em 0;
            color: $main-color;
        }
    }
}

@media screen and (max-width: 500px) {
    .form-modal {
        width: 350px
    }
}

.dashboard {
    display: flex;
    height: 100vh;

    .profile {
        background: #fdfdfd;
        width: 35%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 50px;

        .image {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2em;
        }

        .data {
            display: flex;
            margin: 1.5em 0;
            flex-direction: column;
            justify-content: space-between;

            small {
                color: $text-color;
                margin-bottom: .8em;
            }

            button {
                width: 131px;
                height: 40px;
                background: #fff3f3;
                color: #fc4747;
                font-size: 16px;
                cursor: pointer;
                border: none;
                border-radius: 5px;
            }
        }
    }

    .boards {
        padding: 30px 5%;
        width: 65%;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5em;

            .verified {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #f5f5f5;
                color: $deep-black;
                border: none;
                padding: 1em;
                width: 144px;
                height: 40px;
                font-size: 14px;
                border-radius: 5px;
            }
        }
    }

}



@media screen and (max-width: 600px) {

    .dashboard {
        .profile {
            position: absolute;
            transform: translateX(-200%);
            transition: transform 0.6s ease-in;
            width: 80%;
            padding: 15%;
            height: auto;
            min-height: 100vh;
        }

            .active {
                transform: translateX(-10%)
            }
            

        .boards {
            width: 100vw;

            .top {
                .menu {
                    display: block;
                }
            }
        }
    }

}


.menu {
    display: none
}
